<h1>Create a New Post</h1>

<form method = "POST" action = "/posts">
  <label for "post_name">Post Name:</label>
  <input id="post_name" type="text" name="name" />
  <label for "post_content">Post Content:</label>
  <input id="post_content" type="text" name="content" />
  <input type="submit" value="submit" />
</form>
