<h1>Post here!</h1>
<form action = "/posts" method = "post">
  <p>Title: <input type = "text" name = "name"></p>
  <p>Post: <input type = "text" name = "content"></p>
  <input type = "submit" id="submit">
</form>
