<h2>Add a Post</h2>

<form action="/posts" method="post">
  <p>name:<input type="text" name="post[name]" id="name"/></p>
  <p>content:<input type="text" name="post[content]" id="content"/></p>
  <input type="submit" name="Submit" id="submit" / >
</form>